{% extends "./Base.html" %}

{% block title %}Crear Usuario{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h2>Crear Perfil</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/CrearCliente/" method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="rut_cli" class="form-control" placeholder="Ingresar rut sin ." maxlength="10" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre_cli" class="form-control" placeholder="Pipo" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido_cli" class="form-control" placeholder="Perez" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="correo_cli" class="form-control" placeholder="correo@ejemplo.com" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="contraseña_cli" class="form-control" placeholder="Contraseña" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block text-white">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}