{% extends "./Base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block body %}
<form action="" method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="correo_cli">
        <label for="floatingInput">Correo</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contraseña_cli">
        <label for="floatingPassword">Contraseña</label>
    </div>
</form>
{% endblock %}